.a {
  &-container {
    display: flex;
  }

  &-char {
    min-height: calc(100vh - $marginTopMain);
    display: flex;
    align-items: center;
    min-width: 25rem;

    & img {
      width: 25rem;
    }
  }

  &-text {
    &-container {
      padding: 3rem 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & div {
        margin: .5rem 0;
        font-size: 1.5rem;
        text-align: justify;

        & span {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }

    &-link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.ai {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    width: 10rem;

    & svg {
      width: 8rem;

      & path {
        transition: fill 0.2s ease-in-out;
        fill: $light;
        stroke: transparent;
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15rem;
      margin: 0 3rem;

      & div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        width: 8rem;
        border-radius: 10rem;
        transition: background-color 0.2s ease-in-out;
      }

      &-clickable {
        cursor: pointer;

        & p {
          text-decoration: underline;
        }

        &:hover {
          & div {
            transition: background-color 0.2s ease-in-out;
            background-color: $light;
          }

          & svg {
            & path {
              transition: fill 0.2s ease-in-out;
              fill: $dark;
            }
          }
        }
      }

      & p {
        color: $light;
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
