.h {
  &-char {
    &-hair, &-face, &-smile {
      height: 100vh;
      width: 100%;
      top: 0;
      display: flex;
      justify-content: center;

      & > div, & img {
        position: absolute;
        bottom: -21rem;
        width: 60rem;
      }
    }

    &-hair {
      & path {
        fill: $lightGreen;
        stroke: $lightGreen;
      }
    }

    &-face, &-smile {
      position: fixed;
    }

    &-smile {
      margin-top: 50vh;
      height: 50vh;
      z-index: 3;
    }

    &-face {
      & path {
        fill: $light;
        stroke: $light;
      }
    }
  }

  &-animate {
    height: calc(100vh - $marginTopMain);
  }
}

.hi {
  &-icons {
    margin: 0 1rem;
    border: .2rem solid $light;
    border-radius: 5rem;
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;

    &-container {
      height: 78vh;
      display: flex;
      justify-content: center;
    }

    & svg {
      height: 5rem;

      & path {
        transition: fill 0.2s ease-in-out;
        fill: $light;
        stroke: $light;
      }
    }

    &-parallax {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .hi-icons {
          background-color: $light;
          transition: background-color 0.2s ease-in-out;

          & svg {
            height: 5rem;

            & path {
              transition: fill 0.2s ease-in-out;
              fill: $dark;
              stroke: $dark;
            }
          }
        }
      }
    }

    &-title {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
}
