.h {
  &-char {
    &-hair, &-face {
      display: flex;
      justify-content: center;
      width: 100vw;

      & img {
        width: 60rem;
      }
    }

    &-hair {
      height: calc(100dvh - $marginTopMain);
      align-items: flex-end;
      bottom: 0;
    }

    &-face {
      position: fixed;
      bottom: 0;
    }
  }

  &-animate {
    height: calc(100dvh - $marginTopMain);
  }
}

.hi {
  &-icons {
    margin: 0 1rem;
    border: .2rem solid $light;
    border-radius: 5rem;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;

    &-container {
      height: 60dvh;
      display: flex;
      justify-content: center;
      align-items: start;
      padding-top: 3rem;
    }

    & svg {
      height: 4rem;

      & path {
        transition: fill 0.2s ease-in-out;
        fill: $light;
        stroke: $light;
      }
    }

    &-parallax {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &-first {
        margin-right: -7rem;
      }

      &-last {
        margin-left: -7rem;
      }

      &:hover {
        .hi-icons {
          background-color: $light;
          transition: background-color 0.2s ease-in-out;

          & svg {
            height: 4rem;

            & path {
              transition: fill 0.2s ease-in-out;
              fill: $dark;
              stroke: $dark;
            }
          }
        }
      }
    }

    &-title {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 480px) and (orientation: landscape) {
  .h {
    &-char {
      &-hair, &-face {
        & img {
          width: 30rem;
        }
      }
    }
  }

  .hi {
    &-icons {
      &-container {
        height: 80dvh;
      }

      &-parallax {
        &-first {
          margin-right: -2rem;
        }

        &-last {
          margin-left: -2rem;
        }
      }
    }
  }
}

//tablets
@media (min-width: 768px) and (orientation: portrait) {
  .h {
    &-char {
      &-hair, &-face {
        & img {
          width: 60rem;
        }
      }
    }
  }

  .hi {
    &-icons {
      height: 10rem;
      width: 10rem;

      &-container {
        height: 65dvh;
      }

      & svg {
        height: 5rem;
      }

      &-parallax {
        &-first {
          margin-right: -5rem;
        }

        &-last {
          margin-left: -5rem;
        }

        &:hover {
          .hi-icons {
            & svg {
              height: 5rem;
            }
          }
        }
      }

      &-title {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }
  }
}

//small screens
@media (min-width: 1024px) {
  .h {
    &-char {
      &-hair, &-face {
        & img {
          width: 60rem;
        }
      }
    }
  }

  .hi {
    &-icons {
      height: 9rem;
      width: 9rem;

      &-container {
        height: 78dvh;
      }

      & svg {
        height: 5rem;
      }

      &-parallax {
        &-first {
          margin-right: 0;
        }

        &-last {
          margin-left: 0;
        }

        &:hover {
          .hi-icons {
            & svg {
              height: 5rem;
            }
          }
        }
      }

      &-title {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }
  }
}
