.nb {
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $dark;
  z-index: 2;

  &-container {
    padding: .5rem 1.5rem .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .2rem solid $light;
    border-radius: 5rem;
  }

  &-title {
    line-height: 2rem;
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      color: transparent;
      -webkit-text-stroke: .1rem $light;
      transition: all .2s ease-in-out;
    }

    &:not(:hover) {
      color: $light;
      animation: addTransition .2s ease-in-out;
    }

    @keyframes addTransition {
      0% {
        color: transparent;
        -webkit-text-stroke: .1rem $light;
      }

      100% {
        color: $light;
      }
    }
  }

  &-end {
    display: flex;

    &-icon {
      width: 3rem;
      height: 4rem;
      margin-right: -1.25rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      transition: background-color 0.2s ease-in-out;

      & div {
        margin-top: .3rem;
      }

      & svg {
        width: 2rem;
      }

      & path {
        transition: fill 0.2s ease-in-out;
        fill: $light;
      }

      &:hover {
        background-color: $light;
        transition: background-color 0.2s ease-in-out;

        & path {
          transition: fill 0.2s ease-in-out;
          fill: $dark;
        }
      }
    }

    &-anim {
      cursor: pointer;
      height: 1.5rem;
      width: 6rem;
    }
  }

  &-pathname {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 20rem;
    position: relative;

    & > div {
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 1rem;
      color: $lightGreen;
      will-change: transform, opacity;
    }
  }
}

//tablets
@media (min-width: 768px) and (orientation: portrait) {
  .nb {
    padding: 1.5rem;

    &-container {
      padding: .5rem 1.75rem .5rem 2rem;
    }

    &-title {
      font-size: 2rem;
      margin-top: -.4rem;
    }

    &-end {
      &-icon {
        width: 3.5rem;
        height: 4rem;
        margin-right: -1rem;

        & div {
          margin-top: .4rem;
        }
      }

      &-anim {
        height: 2rem;
        width: 7rem;
      }
    }

    &-pathname {
      & > div {
        font-size: 1.4rem;
      }
    }
  }
}

//small screens
@media (min-width: 1024px) {
  .nb {
    padding: 1.5rem;

    &-container {
      padding: .5rem 1.75rem .5rem 2rem;
    }

    &-title {
      font-size: 2rem;
      margin-top: -.4rem;
    }

    &-end {
      &-icon {
        width: 3.5rem;
        height: 4rem;
        margin-right: -1rem;

        & div {
          margin-top: .4rem;
        }
      }

      &-anim {
        height: 2rem;
        width: 7rem;
      }
    }

    &-pathname {
      & > div {
        font-size: 1.4rem;
      }
    }
  }
}
