.slick {
  &-slider {
    width: 70%;
    margin: 0 auto;
  }

  &-slide {
    display: flex!important;
    align-items: center;
    justify-content: center;
  }

  &-current {
    & .s {
      &-container {
        scale: 1;
        transition: scale 0.2s ease-in-out;
      }

      &-icon {
        opacity: 1;
        transform: rotate(0);
        transition: opacity 0.2s ease-in-out, transform 0.6s ease-in-out;
      }

      &-title {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        font-weight: 700;
      }

      &-tag {
        scale: 1;
        transition: all 0.2s ease-in-out;
        border-color: $light;
        color: $light;

        &-freelance {
          transition: all 0.2s ease-in-out;
          border-color: $lightGreen;
          color: $lightGreen;
        }
      }
    }
  }

  &-dots {
    bottom: -2rem!important;
    z-index: 100;

    & li {
      & button {
        &:before {
          font-size: 1rem!important;
          color: $light!important;
          opacity: .5!important;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          &:before {
            transition: all 0.2s ease-in-out;
            color: $lightGreen !important;
            opacity: 1!important;
          }
        }
      }
    }

    & .slick-active {
      & button {
        &:before {
          opacity: 1!important;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
  }
}

.s {
  &-container {
    width: 25rem;
    height: 25rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    scale: 0.7;
    transition: scale 0.2s ease-in-out;
  }

  &-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: .5;
    transition: opacity 0.2s ease-in-out;
  }

  &-icon {
    position: absolute;
    opacity: .5;
    transform: rotate(120deg);
    transition: opacity 0.2s ease-in-out, transform 0.6s ease-in-out;

    & svg {
      height: 20rem;

      & path {
        fill: $light;
        stroke: $dark;
        stroke-width: .4rem;
      }
    }
  }

  &-tag {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 1.4rem;
    padding: .2rem 1rem;
    border: .3rem solid $lightOpacity;
    color: $lightOpacity;
    z-index: 2;
    border-radius: 5rem;
    background-color: $dark;
    transition: all 0.2s ease-in-out;

    &-freelance {
      transition: all 0.2s ease-in-out;
      border-color: $lightGreenOpacity;
      color: $lightGreenOpacity;
    }
  }
}

.d {
  &-container {
    display: flex;
    align-items: flex-start;
    padding: 4.5rem 5rem 0 5rem;
    width: 100%;
  }

  &-tag {
    font-size: 1.4rem;
    color: $lightGreen;
    border: .3rem solid $lightGreen;
    border-radius: 5rem;
    margin: .5rem;
    padding: .5rem 1rem;

    &-container {
      display: flex;
      flex-wrap: wrap;
      min-width: 25%;
      margin-right: 1rem;
    }
  }

  &-description {
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: justify;

    & span {
      font-size: 1.4rem;
      font-weight: 700;
    }

    &-container {
      margin-left: 1rem;
      text-align: center;
    }

    &-link {
      margin-top: 2.5rem;
      font-size: 1.4rem;

      & span {
        font-weight: 700;
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-in-out;

        &:hover {
          transition: all 0.2s ease-in-out;
          color: $lightGreen;
        }
      }
    }
  }
}

.p {
  &-char {
    &-container {
      height: 25rem;
      width: 25rem;
      position: fixed;
      transform: rotate(50deg) translate(5%, 70%) scale(.5);
      bottom: 4rem;
      left: 4rem;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: rotate(40deg) translate(0%, 0%);
        transition: transform 0.2s ease-in-out;
      }
    }

    &-icon {
      position: absolute;
      z-index: 3;
      bottom: -25%;
      right: 28%;
      height: 7rem;
      width: 7rem;
    }
  }
}
